#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}
html,
body {
  height: 100%;
}
/* russo-one-regular - latin */
/* russo-one-regular - latin */
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../../public/fonts/russo-one-v14-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../../public/fonts/russo-one-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
